:root {
  --display-modal: none;
}

.modalTasks {
  --display-modal: flex;
}

.tasks {
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  width: 546px;
  max-height: 359px;
  overflow: hidden;
}

.tasks__titles {
  display: flex;
  padding: 32px 32px 8px;
  align-items: center;
  justify-content: space-between;
}

.tasks__title:nth-child(1) {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
  margin: 0;
}

.tasks__title:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #3751ff;
  margin: 0;
}

.tasks__time {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9fa2b4;
  padding-left: 32px;
  padding-bottom: 36px;
  margin: 0;
}

.input__task {
  padding: 18px 122px 18px 32px;
  width: 336px;
  border: none;
  border-bottom: 1px solid #dfe0eb;
}
.input__task:focus{
  outline: none;

}
.tasks__button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #f0f1f7;
  border-radius: 8px;
}

.tasks__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks__item {
  max-width: 482px;
  display: flex;
  align-items: center;
  padding: 20px 32px 18px 32px;
  border-bottom: 1px solid #dfe0eb;
}

.tasks__text {
  margin-left: 16px;
  margin-right: auto;
}

.modal__tasks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background-color: #2527339d;
  display: var(--display-modal);
  align-items: center;
  justify-content: center;
}
.status__btn__urgent {
  display: flex;
  background: #fec400;
  border-radius: 8px;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 5px 12px;
}
.status__btn__new {
  display: flex;
  background: #29cc97;
  border-radius: 8px;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 5px 12px;
}

.status__btn__default {
  display: flex;
  background: #f0f1f7;
  border-radius: 8px;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #9fa2b4;
  border: none;
  padding: 5px 12px;
}
.modal__tasks__inner {
  width: 25%;
  background-color: #fff;
  z-index: 8;
}

.modal__title {
  text-align: center;
}

.buttons__modal {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add__task {
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 7px 0;
  background-color: hsl(231, 30%, 95%);
  border-radius: 8px;
}

.button__close__modal {
  border: none;
  background: #fff;
  display: flex;
  margin: 0 0 0 auto;
}


.text__tasks {
  margin: 0 auto;
  margin-top: 5px;
}