.priorityAll{
padding: 5px 12px;
cursor: pointer;
border-radius: 100px;
border: none;
}

.high{
    background: #F12B2C;
}
.low{
    background: #FEC400;
}
.normal{
    background: #29CC97;
}